<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <title>Webscraping Application</title>
</head>
<body>
    <div class="start-container">
        <h1>Welcome to the Webscraping Application</h1>
        <div class="button-group">
            <a href="{{ url_for('register') }}" class="btn">Register</a>
            <a href="{{ url_for('login') }}" class="btn">Login</a>
        </div>
    </div>
</body>
</html>
